# Dependency directories
/vendor/
/node_modules/

# Environment files
.env
.env.*
!.env.example

# Build output
/public/build
/public/hot

# Logs & cache
/storage/logs/*.log
/bootstrap/cache/*.php

# IDE
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
